* {
  padding: 0;
  margin: 0; 
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;}

.clearfix {
  clear: both; }

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
  src: url(../fonts/OpenSans-Regular.eot);
  src: url(../fonts/OpenSans-Regular.woff);
  src: url(../fonts/OpenSans-Regular.svg); }

  @font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf); 
src: url(../fonts/OpenSans-Bold.eot);
src: url(../fonts/OpenSans-Bold.woff);
src: url(../fonts/OpenSans-Bold.svg);}
  

body{
overflow: hidden;
font-family: OpenSans-Regular;
}


  /*...................login..........................*/
.login {
  background-image: url(../images/1.jpg);
  background-repeat: no-repeat;
  background-size: contain; }
.login-h1{
	text-align: center;
	color: #333333;
    font-size: 24px;
    margin-top: 66px;
    margin-bottom: 90px;
}

.login-form{
	width: 270px;
	height: 270px;
	margin: 0 auto;
	margin-top: 85px;
}

.login-label{
	font-size: 12px;
	color: #a8b8c4;
	   
}
input[type='email'], input[type='password']{
 font-size: 16px;
 color: #333333;
 border: 0px;
 border-bottom: 1px solid #d0dce7;
 width: 100%;
 height: 30px;
}

input[type='email']{
	margin-bottom: 55px;
}
input[type='password']{
	margin-bottom: 35px;
}

input[type='submit']{
position: absolute;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 45px;
background-color: #007ee5;
text-align: center;
font-family: OpenSans-Bold;
color: white;
font-size: 14px;
border: 0;
cursor: pointer;

}

.login-text{
	color: #a8b8c4;
	line-height: 1.5;
	font-size: 14px;
}
.login-text-a{
	color: #007ee5;
	text-decoration: none;
}

@media only screen and (min-width: 32em) {

.login{
  background-image:url(../images/fullscreen_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  height: 1300px
  

}
input[type='submit']{
	position: relative;
}
.login-form{
	background-color: white;
	width: 505px;
	height: 490px;
	padding: 55px;
	padding-top: 40px;
	box-sizing: border-box;
	margin-top: 170px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 48px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 48px -9px rgba(0,0,0,0.75);
box-shadow: 0px 0px 48px -9px rgba(0,0,0,0.75);
}


.login-h1{
margin-top: 0;
padding-bottom: 25px;
border-bottom: 1px solid #d0dce7;
margin-bottom: 40px;
}

.login-text{
	text-align: center;
	margin-bottom: 30px;
}
}